@media only screen and (max-width: 1920px) {
    .app-container {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {
    .app-container {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .app-container {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .app-container {
        width: 100%;
    }
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #4E8098;
    color: white;
    height: 100px;
    align-items: center;
    width: 100%;
}

.image-container {
    padding: 10px;
}

.app-container {
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    background-color: #FCF7F8;
}

.content-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 0 10px;
}

.content {
    border: 1px solid black;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 3px 10px -3px #3C3C3C;
    background-color: #FFFFFF;
}